<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://digitaltwinsfunctions16024.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/5f0266cb-705e-4f35-b628-8f65e4b5d986/resourceGroups/azure-digital-twins-tcc/providers/Microsoft.Web/sites/digitaltwinsfunctions16024</ResourceId>
    <UserName>$digitaltwinsfunctions16024</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://digitaltwinsfunctions16024.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>